@{
    ViewData["Title"] = "Not Found Pokemon";
}

<div class="row align-items-center">
    <div class="col-6" style="text-align: center; align-items: center;">
        <img style="width: 90%;" src="~/images/NotFoundPokemon.jpeg" class="LostConnection" alt="NotFoundPokemon" />
    </div>
    <div class="col-6">
        <p><strong>404:</strong> Pokémon no Encontrado.</p>
        <p>
            No pudimos hallar al Pokémon que buscas.
        </p>
    </div>
</div>
